*,*:before,*:after{padding: 0; margin: 0; box-sizing: border-box;}
html{height: 100%; width: 100%;}
body{width: 100%; min-height: 100%; font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体"; font-size: 14px; line-height: 1; color: #333; background: #fff;}

.clearfix:after{display: block; content: ''; width: 0; height: 0; overflow: hidden; clear: both;}

/*背景*/
.bg{position: fixed; width: 100%; min-height: 100%; z-index: 0;}

/*左侧栏*/
.side{position: fixed; z-index: 1; width: 300px; left: 0; top: 0; bottom: 0; overflow: hidden; background: rgba(255,255,255,.5);}
.side-in{height: 2000px;}

.search{padding: 10px;}
.search input{border: 1px solid #fff; padding: 5px; line-height: 20px; background: none; outline: none; border-radius: 3px; display: block; width: 100%; background: rgba(255,255,255,.2);}

.docnav{position: relative; display: block; margin: 10px; line-height: 30px; white-space: nowrap; font-size: 16px;}
.docnav .t{display: inline-block;}
.docnav .dropdown{position: absolute; min-width: 100%; left: 0; top: 30px; background: #fff; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176); display: none;}
.docnav .dropdown li{line-height: 30px; padding: 0 10px; border-bottom: 1px solid #ddd; cursor: pointer; font-size: 14px; }
.docnav .dropdown li:hover{background: #eee;}
.docnav:hover .t{background: #fff; padding: 0 10px;}
.docnav:hover .dropdown{display: block;}

.nav-li{border-bottom: 1px solid rgba(255,255,255,.2);}
.nav-li > h3{padding: 10px; line-height: 20px; }
.nav2-li > a{color: #333; padding: 0 20px; line-height: 30px; text-decoration: none;}
.nav2-li > a:hover{color: #fff;}

/*右侧栏*/
.content{position: fixed; z-index: 1; left: 300px; top: 0; bottom: 0; right: 0; overflow: hidden; background: rgba(255,255,255,.7);}

.loading{position: fixed; width: 200px; height: 60px; line-height: 60px; background: rgba(255,255,255,.9); border-radius: 3px; text-align: center; color: #7BC0F4; left: 50%; top: 50%; margin-left: -50px; margin-top: -15px; z-index: 999; font-size: 20px; display: none; padding: 0 20px;}

.content-in{padding: 20px;}